$empty: contrast(50%) brightness(100000%) opacity(50.5%);
$filled: contrast(180%) brightness(100000%) opacity(95%);
$text-gradient:
  radial-gradient(ellipse at 50%, (rgba(0 0 0 / 100%) 0%, rgb(0 0 0 / 0%) 300%))
    no-repeat,
  url("../../static/noise.svg");
$v-gradient:
  linear-gradient(0deg, (rgba(0 0 0 / 100%), rgb(0 0 0 / 0%) 100%)) no-repeat,
  url("../../static/noise.svg");

$background-gradient:
  radial-gradient(circle at center, (rgba(0 0 0 / 100%) 0%, rgb(0 0 0 / 0%) 0%))
    no-repeat,
  url("../../static/noise.svg");

::selection {
  background-color: #1a1515;
}

.border {
  background: $v-gradient;
  filter: $filled;
  -webkit-text-fill-color: transparent;
}

.isolate {
  position: relative;
  filter: grayscale(90%);
  isolation: isolate;

  .children {
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.noise {
  background: $text-gradient;
  //filter: $text-gradient;
  filter: contrast(180%) brightness(100000%) opacity(95%);
  animation: ink-fill 3s;
  animation-delay: -0.3s;
  -webkit-text-fill-color: transparent;
}

.noise-transition {
  display: grid;
  filter: grayscale(75%);
  isolation: isolate;
}

.noise-item {
  grid-area: 1/1;
  background: $text-gradient;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.noise-curr {
  &[data-active="true"] {
    background:
      linear-gradient(20deg, black -100%, transparent 400%) no-repeat,
      url("../../static/noiseTexture.png");
    background-clip: text;
    mix-blend-mode: difference;
  }
}

.noise-indicator {
  z-index: -1;
  grid-area: 1/1;
  width: 100%;
  background: $background-gradient;
  background-clip: padding-box;
}

//noinspection Stylelint
@media all and (min-device-pixel-ratio: 0) and (resolution >= 0.001dpcm) {
  .noise {
    filter: $filled;
  }
}

@keyframes ink-fill {
  from {
    filter: $empty;
  }

  to {
    filter: $filled;
  }
}

@keyframes ink-leave {
  from {
    filter: $filled;
  }

  to {
    filter: $empty;
  }
}
