/*Leaving this here bc the page breaks otherwise. */
/*TODO: Check vite react-createapp*/

pre {
  font-size: 12px;
}

.action-button:active {
  background-color: var(--gray-5);
}

@keyframes float-fade {
  0% { opacity: 1; transform: translateY(-4px); }
  100% { opacity: 0; transform: translateY(-4px) }
}

.sale-popup {
  position: absolute;
  bottom: 100%;
  left: 0;
  animation: float-fade 3.0s ease-in forwards;
  pointer-events: none;
  white-space: nowrap;
}
